* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    
}

body {
    margin-top: 0px; 
    background-color: #f3f4fe;
}


.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #3056d3;
    color: white;
    
}

.nav-links-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo img {
    transition: all 0.3s ease;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    flex-direction: row;
}

.scrolled-lavLinks {
    color: #37374d !important;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}



.nav-links a:hover {
    color: #97aae9;
}

.scrolled-lavLinks:hover {
    color: #3056d3 !important;
}

.scrolled-lavLinks-active {
    color: #3056d3 !important;
}

.scrolled{
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);
    
    transition: background-color 0.3s, backdrop-filter 0.3s;
}

#home {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3056d3;
    color: white;
    padding-top: 160px;
    padding-bottom: 30px;
}

.home-h1 {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 30px;
}

.home-p {
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px; 
    padding: 70px;
    box-shadow: #000000;
}

#about {
    padding: 2rem;
    background-color: #ffffff;
    margin: 2rem 0;

    margin-top: 500px;
}

span {
    background-color: #3056d3;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.about-h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 30px;
}

.about-p {
    color: #757f8b;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px;

}